<?xml version="1.0" encoding="UTF-8"?>
<suite thread-count="3" name="Suite" parallel="tests">

    <test name="over1Chrome">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="MainClass"/>
        </classes>
    </test>

    <test name="over2IE">
        <parameter name="browser" value="ie" />
        <classes>
            <class name="MainClass"/>
        </classes>
    </test>

    <test name="over3FireFox">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="MainClass"/>
        </classes>
    </test>

</suite>

